<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Debug uniquement : second lanceur « Taipo Bench » (banc d'essai de l'autocorrection, résultats dans l'écran et le logcat). -->
    <application>
        <activity
            android:name="fr.junade.taipo.bench.BenchActivity"
            android:exported="true"
            android:label="Taipo Bench"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
